<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "ユーザー名さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @name  %></td>
          </tr>
          <tr>
            <th class="table__col1"> profile </th>
            <td class="table__col2"><%= @profile %></td>
          </tr>
          <tr>
            <th class="table__col1">所属</th>
            <td class="table__col2"><%= @occupation %></td>
          </tr>
          <tr>
            <th class="table__col1">役職</th>
            <td class="table__col2"><%= @position %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "ユーザー名さんのプロトタイプ"%>
      </h2>
      <div class="user__card">
      <%= render partial: "prototypes/prototype", collection: @prototypes %>    </div>
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
      </div>
    </div>
  </div>
</div>